

$light_gold: #ccac55;
$dark_gold: #8c6c15;
$nav_black: #181c1f;
$white: #ffffff;
$black: #000000;

@font-face {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    src: url('/fonts/Brandon Grotesque Medium.otf') format('opentype');
}

html, input, textarea, select {
    font-family: 'Brandon Grotesque', sans-serif !important;
}

/*******************************/
/*    Some dark theme fixes    */
/*******************************/

md-progress-circular {
    &.md-fc_dark-theme path {
        stroke: $light_gold;
    }
    &.md-fc_default-theme path {
        stroke: $dark_gold;
    }
}

md-tabs.md-fc_dark-theme .md-tab.md-active {
    color: #eee;
}

a {
    text-decoration: none;
    color: $dark_gold;
}

md-divider {
    &.md-fc_dark-theme {
        border-top-color: $white;
    }

    &.md-fc_default-theme {
        border-top-color: $black;
    }
}

/*******************************/
/*   I hate myself for this    */
/*******************************/

.loadCircle {
    width: 24px !important;
    height: 24px !important;
    margin: auto;
    svg {
        width: 24px !important;
        height: 24px !important;
        transform-origin: 12px !important;
    }
}

/*******************************/

.centre {
    text-align: center;
}

/*
  tabs content was starting way above the tab content. only important for launchpads
*/
#build md-grid-list {
    padding-bottom: 0 !important;
}

/* input has error div below. This makes select line up */
md-select, md-switch {
    margin-bottom: 24px !important;
}

::-webkit-scrollbar {
    display: none; 
}

#results {
    md-grid-tile {
        padding: 0 !important;
    }

    figure {
        display: none !important;
    }
}

#world md-backdrop {
    display: none;
}

#cesiumContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cesium-widget-credits {
    padding: 0;
}

.md-datepicker-button {
    margin: 0 !important;
}

#patreon img {
    display: block;
    width: auto;
    height: auto;
}

@keyframes goldPulse {
    from { background-color: $nav_black; }
    50% { background-color: $light_gold;}
    to { background-color: $nav_black; }
}

.pulse {
    animation: 2s goldPulse linear infinite;
}